/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

@import url('~http://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}



.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.wrapper
{
  background-color: #f7f7f7;
  border: solid, 1px, #e0e0e0;
  font-size: 12pt;
  width: 16em;
  height: 16em;
  positon: absolute;
  top: 0;
  left: 50%;
  margin-left: -8em;
  border-radius: 5px;
}

.form
 {
  position: absolute;
  display: block;
  padding: 0;
  top: 1em;
  bottom: 1em;
  right: 1em;
  width: 13em
 }

/*
.input {
  width: 13em;
  height: 1.3em;
  font-family: Verdana, sans-serif;
  border: solid, 1px #c0c0c0;
  margin-bottom: 0.7em;
  paddin: .3em
}
*/
