<md-card>

    <form class='form' (ngSubmit)="submitState(sUsername, sPassword)" autocomplete="off">

      <md-input-container>
        <input
          mdInput
          class='input'
          [value]=sUsername
          (input)="sUsername = $event.target.value"
          placeholder="Username"
          autofocus>
      </md-input-container>

      <md-input-container>
     <input
       mdInput
       class='input'
        [value]=sPassword
        (input)="sPassword = $event.target.value"
        placeholder="Password">
      </md-input-container>

      <br>

      <button md-button>Submit Value</button>
    </form>

  <http-login></http-login>

</md-card>
